@page "/countries"

@inject IRepository repository

<h3>Países</h3>

<GenecList Mylist="Countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                        <td>
                            @country.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenecList>


@code {
    public List<Country>? Countries { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHtpp = await repository.Get<List<Country>>("v1/api/countries");
        Countries = responseHtpp.Response;
    }
}
