@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManger
@inject SweetAlertService sweetAlertService

<h3>Crear Cuidad</h3>

<CityForm @ref="cityForm" City="city" OnValidSubmit="CreateAsync" ReturnAction="Return" />


@code {
    private City city = new();
    private CityForm? cityForm;

    [Parameter]
    public int StateId { get; set; }

    private async Task CreateAsync()
    {
        city.StateId = StateId;
        var httppResponse = await repository.Post("v1/api/cities", city);
        if (httppResponse.Error)
        {
            var message = await httppResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        cityForm!.FormPostedSuccessfully = true;
        navigationManger.NavigateTo($"/states/details/{StateId}");
    }
}
