@page "/states/create/{CountryId:int}"
@inject IRepository repository
@inject NavigationManager navigationManger
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Estado/Departamento</h3>

<StateForm @ref="sateForm" State="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />


@code {
    private State state = new();
    private StateForm? sateForm;

    [Parameter]
    public int CountryId { get; set; }

    private async Task CreateAsync()
    {
        state.CountryId = CountryId;
        var httppResponse = await repository.Post("v1/api/states", state);
        if (httppResponse.Error)
        {
            var message = await httppResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        sateForm!.FormPostedSuccessfully = true;
        navigationManger.NavigateTo($"/countries/details/{CountryId}");
    }
}
